<fieldset id="personFieldset"> <!-- disabled false>-->  
    <div>
        <span class="input-group-addon" style="width: 160px; text-align: left">Person ID</span>
        <label class="form-control">{{personDetailData.PersonID}}</label>
        <br />
        <br />
        <span class="input-group-addon" style="width: 160px; text-align: left">First Name</span>
        <input type="text" class="form-control" ng-model="personDetailData.FirstName" name="FirstName" />
        <br />
        <br />
        <span class="input-group-addon" style="width: 160px; text-align: left">Last Name</span>
        <input type="text" class="form-control" ng-model="personDetailData.LastName" name="LastName" />
        <br />
        <br />
        <span class="input-group-addon" style="width: 160px; text-align: left">Email Address</span>
        <input type="text" class="form-control" ng-model="personDetailData.EmailAddress" name="EmailAddress" />
    </div>
</fieldset>